@model IEnumerable<FrontEnd.Models.MarcasViewModel>

@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <h2>Marcas</h2>

        <div class="d-flex">
            <input class="form-control" id="myInput" type="text" placeholder="Buscar..">

            <a class="ml-2 btn btn-success" href="@Url.Content("~/Marcas/Create")">
                <i class="far fa-plus-square"></i>
                <span>Nueva Marca</span>
            </a>
        </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.vNombre)</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.vNombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idMarca }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idMarca }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idMarca })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}