@model FrontEnd.Models.ProveedoresViewModel

@{
    ViewBag.Title = "Details";
}
    <div class="container">
        <h2>Details</h2>

        <div>
            <h4>ProveedoresViewModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.vNombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vNombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.iCedula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.iCedula)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.iTelefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.iTelefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.vCorreo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vCorreo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.vDireccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vDireccion)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.idProveedor }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>